# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
.yarn/*
.pnpm-store/

# Env
.env
.env.*
!.env.example

# Build outputs
dist/
build/
coverage/

# Editors/OS
.DS_Store
.idea/
.vscode/